html
    { background: black;
    font-family: 'Arial', sans-serif; }
.hide { display: none; }
video
    { position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100% }
aside
    { position: fixed;
    left: 80%;
    top: 50%;
    width: 20em;
    color: white;
    transition: opacity 0.2s ease; }
aside, input { text-shadow: 1px 1px 0px black, -1px -1px 0px black, 0px 0px 8px black; }
article { word-wrap: break-word; }
section
    { overflow: hidden;
    width: 100%;
    height: 30ex; }
input
    { display: block;
    font-size: 1em;
    width: 100%;
    outline: none;
    background: none;
    border: none;
    color: white;
    padding: 0.3em;
    margin-top: 0.5em; }
input:focus
    { background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1); }
.opaque { opacity: 0; }
strong
    { padding-right: 1em;
    white-space: nowrap; }
.modal
    { position: fixed;
    top: 33%;
    left: 33%;
    bottom: 33%;
    right: 33%;
    background: white;
    z-index: 1000; }
.modal > button
    { position: absolute;
    right: 1em;
    bottom: 1em; }
video::cue
    { background: none;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 0px 0px 8px black;
    margin-bottom: 2em; }
